#gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#board {
  display: flex;
  flex-wrap: wrap;
  width: 285px;
  height: 280px;
  margin-top: 20px;
}

.square {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  background-color: lightgray;
  border: 1px solid black;
}

#score {
  margin-top: 20px;
  font-size: 20px;
}

#startBtn {
  padding: 10px 20px;
  font-size: 20px;
  margin-top: 20px;
}

#title {
  text-align: center;
}